<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <title>SC-Web Minimal</title>

        <link
            rel="stylesheet"
            type="text/css"
            href="/static/common/bootstrap/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/common/bootstrap/css/bootstrap-multilevel.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/components/css/common.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/components/css/bootstrap-override.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/components/css/scg.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/components/css/scs.css"
        />

        {% include 'common.html' %} {% include 'components.html' %}
    </head>

    <body id="body">
        <script>
            var serverHost = "{{ public_url }}";
        </script>

        <!-- Минимальный контейнер - только поиск и окна -->
        <div id="main-container" class="main-container">
            <!-- Панель инструментов (поиск) -->
            <div id="window-header-tools" class="pull-right">
                <div id="search-panel" class="no_display">
                    <form role="search">
                        <div class="form-group">
                            <input
                                id="search-input"
                                type="text"
                                class="typeahead form-control"
                                sc_control_sys_idtf="ui_control_search_idtf_edit"
                                style="width: 250px"
                                data-provide="typeahead"
                                autocomplete="off"
                            />
                        </div>
                    </form>
                </div>
            </div>

            <!-- Контейнер окон -->
            <div
                id="window-container"
                class="col-xs-12 col-sm-12 col-md-12"
            ></div>
        </div>

        <!-- Locker (индикатор загрузки) -->
        <div id="sc-ui-locker">
            <div id="sc-ui-locker-text">Loading...</div>
            <div id="sc-ui-locker-icon"></div>
        </div>

        <div id="sctp-reconnection"></div>

        <!-- Подключаем кастомный main.js с отключенными компонентами -->
        <script
            type="text/javascript"
            charset="utf-8"
            src="/custom/js/main.js"
        ></script>

        <script type="text/javascript">
            $(document).ready(function () {
                SCWeb.ui.Locker.show();
                let params = {
                    menu_container_id: "menu_container",
                };
                $.when(SCWeb.core.Main.init(params)).done(function () {
                    SCWeb.ui.Locker.hide();

                    // Принудительно устанавливаем режимы после инициализации
                    SCWeb.core.ExpertModeEnabled = true;
                    SCWeb.core.EventManager.emit("expert_mode_changed");
                    SCWeb.core.Main.editMode = SCgEditMode.SCgModeSelect;
                    SCWeb.core.Main.viewMode = SCgViewMode.DefaultSCgView;

                    console.log(
                        "[Minimal] SCWeb инициализирован (Expert Mode: ON, Editor: SCg)",
                    );

                    // Программный клик на SCg (первый элемент в dropdown)
                    setTimeout(function () {
                        console.log(
                            "[Minimal] Программный клик на первый элемент dropdown (SCg)...",
                        );

                        // Проверяем содержимое dropdown
                        var allLinks = $("#history-item-langs a");
                        console.log(
                            "[Minimal] Найдено ссылок в dropdown:",
                            allLinks.length,
                        );
                        allLinks.each(function (i, el) {
                            console.log(
                                "[Minimal] Элемент",
                                i,
                                ":",
                                $(el).attr("sc_addr"),
                                $(el).text(),
                            );
                        });

                        // Клик на первый элемент (SCg)
                        var firstLink = $(
                            "#history-item-langs li:first-child a",
                        );
                        if (firstLink.length > 0) {
                            var addr = firstLink.attr("sc_addr");
                            console.log(
                                "[Minimal] Клик на элемент с sc_addr:",
                                addr,
                            );
                            firstLink.click();
                        } else {
                            console.log("[Minimal] dropdown пуст");
                        }
                    }, 1500);
                });
            });
        </script>
    </body>
</html>
