<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <title>SC-Web Minimal</title>

        <link
            rel="stylesheet"
            type="text/css"
            href="/static/common/bootstrap/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/common/bootstrap/css/bootstrap-multilevel.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/components/css/common.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/components/css/bootstrap-override.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/components/css/scg.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/components/css/scs.css"
        />

        {% include 'common.html' %} {% include 'components.html' %}
    </head>

    <body id="body">
        <script>
            var serverHost = "{{ public_url }}";
        </script>

        <!-- Минимальный контейнер - только поиск и окна -->
        <div id="main-container" class="main-container">
            <!-- Панель инструментов (поиск) -->
            <div id="window-header-tools" class="pull-right">
                <!-- ExpertModePanel -->
                <div id="expert_mode_container" style="margin-right: 15px;">
                    <label class="switch">
                        <input type="checkbox" id="mode-switching-checkbox" />
                        <span class="slider round"></span>
                    </label>
                    <label for="mode-switching-checkbox" class="normalLabel"></label>
                </div>

                <!-- Mode switching panel (for ExpertModePanel) -->
                <div class="btn-group mode-switching-panel" style="margin-right: 15px;">
                    <button
                        type="button"
                        class="histoy-item-btn btn btn-success"
                        data-toggle="dropdown"
                        sc_control_sys_idtf="ui_control_select_window_type"
                    >
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </button>
                    <ul
                        id="history-item-langs"
                        class="dropdown-menu"
                        role="menu"
                    ></ul>

                    <button
                        type="button"
                        class="btn btn-primary"
                        id="windows-list"
                        sc_control_sys_idtf="ui_control_collapse_sidebar"
                    >
                        <span class="glyphicon glyphicon-th-large"></span>
                    </button>
                    <button
                        type="button"
                        class="btn btn-default"
                        id="history-item-print"
                        sc_control_sys_idtf="ui_control_print_window_content"
                    >
                        <span class="glyphicon glyphicon-print"></span>
                    </button>
                    <button
                        type="button"
                        class="btn btn-default"
                        id="history-item-link"
                        data-container="body"
                        data-toggle="popover"
                        data-placement="bottom"
                    >
                        <span class="glyphicon glyphicon-link"></span>
                    </button>
                </div>

                <div id="search-panel" class="no_display">
                    <form role="search">
                        <div class="form-group">
                            <input
                                id="search-input"
                                type="text"
                                class="typeahead form-control"
                                sc_control_sys_idtf="ui_control_search_idtf_edit"
                                style="width: 250px"
                                data-provide="typeahead"
                                autocomplete="off"
                            />
                        </div>
                    </form>
                </div>
            </div>

            <!-- Контейнер окон -->
            <div
                id="window-container"
                class="col-xs-12 col-sm-12 col-md-12"
            ></div>
        </div>

        <!-- Locker (индикатор загрузки) -->
        <div id="sc-ui-locker">
            <div id="sc-ui-locker-text">Loading...</div>
            <div id="sc-ui-locker-icon"></div>
        </div>

        <div id="sctp-reconnection"></div>

        <!-- Подключаем кастомный main.js с отключенными компонентами -->
        <script
            type="text/javascript"
            charset="utf-8"
            src="/custom/js/main.js"
        ></script>

        <script type="text/javascript">
            $(document).ready(function () {
                SCWeb.ui.Locker.show();
                let params = {
                    menu_container_id: "menu_container",
                };
                $.when(SCWeb.core.Main.init(params)).done(function () {
                    SCWeb.ui.Locker.hide();
                    console.log("[Minimal] SCWeb инициализирован");
                });
            });
        </script>
    </body>
</html>
